:root {
  --primary-color: #9d4edd;
  --background-color: #121212;
  --font-color: #a8a8a8;
}

html {
  height: 100vh;
  font-size: 10px;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: "Gothic A1", sans-serif;
  color: var(--font-color);
}
